* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f2f2f2;
}

.tela {
    width: 100%;
    max-width: 430px;
    height: 100vh;
    margin: auto;
    background: #f2f2f2;
}

/* TOPO */

.topo {
    height: 180px;

    background:
        linear-gradient(90deg,
            #089fa4,
            #2b67b6);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}

.topo h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
}

.voltar {
    position: absolute;

    left: 14px;
    top: 14px;

    width: 36px;
    height: 36px;

    border: 3px solid white;
    border-radius: 50%;

    text-decoration: none;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}

/* CONTEÚDO */

.conteudo {
    padding: 18px 30px;
}

.logo {
    width: 180px;
    margin: 0 auto 18px;
}

.logo img {
    width: 100%;
    display: block;
}

/* INPUT COM BORDA DEGRADÊ */

input {
    width: 100%;
    height: 58px;

    padding: 0 24px;

    border: none;
    outline: none;

    border-radius: 16px;

    font-size: 18px;
    font-weight: bold;

    margin-bottom: 18px;

    background:
        linear-gradient(#f2f2f2, #f2f2f2) padding-box,
        linear-gradient(90deg, #00a9a2, #2d63b8) border-box;

    border: 4px solid transparent;
}

input::placeholder {
    color: #555;
}

.recuperar {
    display: block;

    text-decoration: none;

    color: #0b8d9d;

    font-size: 16px;
    font-weight: bold;

    margin: 12px 0 14px 8px;
}

.botao {
    width: 100%;
    height: 74px;

    border-radius: 40px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(90deg,
            #089fa4,
            #2b67b6);

    color: white;

    font-size: 32px;
    font-weight: 800;

    margin-bottom: 22px;
}

.cadastro-texto {
    text-align: center;

    color: #0b8d9d;

    font-size: 16px;
    font-weight: bold;

    margin-bottom: 14px;
}